<h1>Welcomes</h1>

<div>
    <h3> List Of Suppliers </h3> : <%= link_to "Suppliers", suppliers_path %>
</div>
<div>
    <h3> List Of Products </h3> : <%= link_to "Products", products_path %>
</div>

<div>
    <h3> Generate Purchase Order </h3> : <%= link_to "Purchase Order Generate", new_purchase_order_path %>
</div>